<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_activity.test1.dao.ReportDescTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo_activity.test1.model.ReportDescTemplate">
        <id column="id" property="id" />
        <result column="template_name" property="templateName" />
        <result column="file_name" property="fileName" />
        <result column="template_describe" property="templateDescribe" />
        <result column="template_type" property="templateType" />
        <result column="file_label_name" property="fileLabelName" />
        <result column="file_type" property="fileType" />
        <result column="upload_user_name" property="uploadUserName" />
        <result column="template_status" property="templateStatus" />
        <result column="template_file_path" property="templateFilePath" />
        <result column="industry" property="industry" />
        <result column="content_type_id" property="contentTypeId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="content_type_name" property="contentTypeName" />
    </resultMap>

</mapper>
